$SectionColor: #f2f3f5;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

#main-navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #333333;
}

#home {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  height: 100vh;
  background-image: url(../Images/frontImage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#about-me {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 70px 0;
}

#gustos {
  @extend #about-me;
  background-color: #f2f3f5;
}

.text-box {
  margin: 20px;
  h2 {
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    padding: 0 0 10px;
    margin: 0;
    line-height: 62px;
    margin-top: 0;
    text-transform: none;
  }

  p {
    margin-bottom: 20px;
  }
}

.image {
  position: relative;
  @media (min-width: 576px) {
    .col-sm {
      flex: 1 0 0%;
    }
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
